<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <br><br><br><br>
    <div style="text-align:center">
        <h1 style="font-family:cursive;">Covid-19 X-Ray Prediction</h1>
        <br><br>
    
        <body style="background-color: rgb(30, 27, 27) "text='yellow'>

            <form action="/submit" method="POST" enctype="multipart/form-data">
        
                <input  type="file" multiple  name="xray" style="font-size: larger; background-color: rgb(19, 97, 97); font-family:cursive"><br><br><br>
    
                <input style="font-size: larger ; background-color: rgb(80, 213, 213); font-family:cursive"  type="submit"  value="Predict"><br>
                <h4 style="color: white; padding: 80px; letter-spacing: 2px;"><b style="color: yellow;">*Note -</b> This model will take <b style="color: yellow;"> X-ray</b>  images and from that it will predict that given image is having any symptoms of <b style="color: yellow;"> COVID/ PNEUMANIA </b>or not.</h4>

        </body>
    </div>
  
</html>