<!DOCTYPE html>
<html> 

    <body style="background:  rgb(30, 27, 27) " text="white" > 
        <div style="text-align:center; padding: 100px;" > 
            <h1 style="font-family:cursive; color:white ;"> The perosn is having symptoms of <b style="color: yellow;">PNEUMANIA.</b> </h1><br><br>
            <h3 style="color: white ; letter-spacing: 2px;" > Here you can find nearest <b style="color: yellow;">Vaccines centers:-</b></h3>

            <a href="https://www.cowin.gov.in/" style="color: white; letter-spacing: 2px; size: 30px;word-spacing: 2px"> <b>Vaccines Near You</b> </a>
        </div>
    </body>
    
</html>